
<div class="modal-header" style="background-color:#F5F5F5;border-radius:4px;">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title" id="myModalLabel">Ajouter un pôle</h4>
</div>
<div class="modal-body">
    <div class="form-horizontal">
        {{ form_start(form,{'action': path('time_tbs_admin_newPole'), 'method': 'POST'}) }}


        <div class="form-group">
            <label class="control-label col-sm-4 col-md-4" for="pwd">Libellé :</label>
            <div class="col-sm-8 col-md-6">
                <label class="control-label" for="pwd" >{{  form_widget (form.name ,{'attr':{'class':'form-control'}}) }}</label>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4 col-md-4" for="pwd">Manager(s):</label>
            <div class="col-sm-8 col-md-6">
                <label class="control-label" for="pwd" style="width: 200px!important;" >{{ form_widget (form.manager ,{'attr':{'class':'js-example-responsive '}}) }}</label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2 col-md-offset-4">
                <input type="submit" value="Ajouter" class="btn btn-primary">
            </div>
        </div>
        {{ form_end (form) }}
    </div>
</div>

<script>
    $(".modal").on('hidden.bs.modal', function () {
        $(".modal-body").html("");
        $(this).data('bs.modal', null);
    });
    $(document).ready(function() {
        $('.js-example-responsive').select2({
            width: 'resolve'
        });
    });
</script>